* {
	box-sizing: border-box;
}

:root {
	font-family: "Inter", sans-serif;

	--WHITE: #fff;
	--BLACK: #000;

	--BG-WHITE: #fff7ed;
	--CTA-ORANGE: #ff8c38;
	--BG-DKGRAY: #252525;
	/* fonts */
	--F-GRAY: #4d4d4d;
}

html {
	font-size: 62.5%;
}

body,
html {
	margin: 0;
	padding: 0;
}

body {
	font-size: 1.6rem;
	max-width: 128rem;
	min-height: 100vh;
	margin: 0 auto;
	/* text-align: center; */
	/* border: 1px solid; */
}

/* header */

.nav {
	padding: 3.6rem 2.6rem;
	background: var(--BG-WHITE);
	display: flex;
	align-items: center;
	color: var(--F-GRAY);
}

.nav .logo {
	margin-right: auto;
	font-weight: 900;
	font-size: 2.5rem;
	color: var(--BLACK);
}

.nav a {
	text-decoration: none;
	margin: 0 1.2rem;
}

.nav a:visited {
	color: #4d4d4d;
}

.nav a:hover {
	text-decoration: underline;
}

/* home page */
.home {
	background: linear-gradient(
			0deg,
			rgba(0, 0, 0, 0.46),
			rgba(0, 0, 0, 0.46)
		),
		url("./assets/home-bg.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 6.4rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: var(--WHITE);
	min-height: 50vh;
}

.home > * {
	max-width: 50rem;
	text-shadow: 0px 0px 2px var(--F-GRAY);
}

.home h2 {
	font-weight: 800;
	font-size: 3.6rem;
	line-height: 4.2rem;
}

.home p {
	margin-top: 2.2rem;
}

.home .cta-btn {
	width: 100%;
	background: var(--CTA-ORANGE);
	text-align: center;
	padding: 8px;
	border: none;
	font-weight: 700;
	color: var(--BG-WHITE);
	cursor: pointer;
	border-radius: 5px;
	margin-top: 5rem;
}

/* Footer */
.footer {
	text-align: center;
	padding: 2.5rem;
	background: var(--BG-DKGRAY);
	color: var(--F-GRAY);
}
